 *{
    margin: 0px;
    padding: 0px;
 }
 nav{
    background-color: rgb(138, 126, 126);
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400&display=swap');
 body{
   font-family: 'Roboto', sans-serif;
    } 
       @media (min-width:600px) {
   #headtag{
justify-content:left;   }
  } 
  
  a{
   text-decoration: none;
   
  }
  #sinup{

             background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        #box{padding: 10px;
         background-color: #fff;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   }
#forgot{
          background-color: #fff;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#pass{
   padding: 20px;
         background-color: #fff;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

   

#canci{
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} 
header:hover {
   cursor: pointer; 
 }