 *{
    margin: 0px;
    padding: 0px;
 }
 nav{
    background-color: rgb(138, 126, 126);
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400&display=swap');
 body{
   font-family: 'Roboto', sans-serif;
    } 
       @media (min-width:600px) {
   #headtag{
justify-content:left;   }
  } 
  
  a{
   text-decoration: none;
   
  }
  #sinup{

             background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        #box{padding: 10px;
         background-color: #fff;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   }
#forgot{
          background-color: #fff;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#pass{
   padding: 20px;
         background-color: #fff;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

   

#canci{
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} 
header:hover {
   cursor: pointer; 
 }
 #mainimg{
   background-image:url('https://static.vecteezy.com/system/resources/previews/006/181/547/original/ticket-booking-book-flight-buying-tickets-online-flat-illustration-design-travel-concept-for-mobile-and-web-graphics-vector.jpg') ;
   background-size: contain;
   background-repeat: no-repeat;
   height: 93vh;
   width: 100vw;

 }
 #mainimg1{
   background-image:url('https://static.vecteezy.com/system/resources/previews/006/181/547/original/ticket-booking-book-flight-buying-tickets-online-flat-illustration-design-travel-concept-for-mobile-and-web-graphics-vector.jpg') ;
   background-size: contain;
    background-repeat: no-repeat;
   height: 93vh;
   width: 100vw;
  }